<mat-drawer-container>
  <mat-drawer #drawer mode="side" opened (closed)="sidebar_closed()" (opened)="sidebar_opened()">
    <div id="sidebar-container">
      <app-search></app-search>
      <app-meals></app-meals>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <button id="search-open" mat-raised-button (click)="drawer.toggle()">
      <mat-icon>
        {{sidebar_icon[sidebar_icon_state]}}
      </mat-icon>
    </button>
    <app-meal-kalender></app-meal-kalender>
  </mat-drawer-content>
</mat-drawer-container>
