@import "src/styles";

#container{
  width: calc(300px + 12vw);
  height: calc((300px + 12vw) * 1.3);
  //background-color: $color-i;
  color: $color;
  position: relative;
}

#likde-container{
  & > button{
    background-color: $color-i;
  }
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 1;
}

#content-icon-desc{
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 10%;

  #difficulty{
    &>.mat-icon{
      transform: scaleX(-1);
      //-webkit-text-stroke-width: .5px;
      //-webkit-text-stroke-color: $color;
    }
  }
  #time, #difficulty{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25%;

    &>p{
      margin: 0;
      white-space: nowrap;
    }
  }
}

img{
  border-radius: 5px 5px 0 0;
  height: 75%;
  object-fit: cover;
}

#content-bg{
  position: absolute;
  top: 0;
  height: 100%;
  background:linear-gradient(0deg, #000000 27.48%, rgba(0, 0, 0, 0.561318) 35.2%, rgba(0, 0, 0, 0) 42.4%);
}

#content{
  position: absolute;
  height: 33%;
  top: 65%;
  padding: 2%;
}

#content-desc {
  width: 100%;
  height: 50%;
  overflow-y: auto;

  p{
    //text-overflow:ellipsis;
    //max-height: 100%;
  }
}

#content-header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 2%;
  &>*{
    display: inline-flex;
    align-items: center;
    margin: 0;

    &>*{
      margin: 0;
    }
  }
}
#bewertung{
  gap: calc(.5vw + 2px);
}
/*
mat-icon{
  cursor: pointer;
  &:not(#icon-expand){
    color: purple;
    font-size: calc(100% * 4);
  }
}

#container{
  background-color: $bg-darker;
  margin: 0 auto;
  width: 80%;
  grid-auto-flow: column;
  grid-template-columns: 1fr 5fr;

  & > img{
    border: solid 0px;
    border-radius: 5px 0 0 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

#content{
  position: relative;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
}

#main-content{
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

#text{
  &>*{
    margin: 0;
  }
  &>p{
    text-align: right;
  }
}

#icon-expand{
  z-index: 1;

  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}*/

