<div id="header" class="center-child-flex text-center">
    <h1 class="mat-title">Meal Planner</h1>
    <h2>the easy way to plan your meals</h2>

    <app-search size="small" class="center-child-flex"></app-search>
</div>
<div id="content">

  <h1 style="text-align: center">Features</h1>

  <div id="features">
    <div class="feature">
      <img src="https://via.placeholder.com/300">
      <div class="feature_discription">
        <h2>Lorem ipsum dolor sit amet</h2>
        <p>consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed.</p>
      </div>
    </div>
    <div class="feature">
      <img src="https://via.placeholder.com/300">
      <div class="feature_discription">
        <h2>Lorem ipsum dolor sit amet</h2>
        <p>consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed.</p>
      </div>
    </div>
    <div class="feature">
      <img src="https://via.placeholder.com/300">
      <div class="feature_discription">
        <h2>Lorem ipsum dolor sit amet</h2>
        <p>consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed.</p>
      </div>
    </div>
    <div class="feature">
      <img src="https://via.placeholder.com/300">
      <div class="feature_discription">
        <h2>Lorem ipsum dolor sit amet</h2>
        <p>consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed.</p>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>

