@import "src/styles";

#header{
  height: 10vh;
  background-color: $bg-grey;

  app-search{
    width: 80%;
  }
}

#search-result{
  height: calc(90vh - #{$nav-height});
  overflow: hidden;
}

#content{
  flex-direction: column;
  justify-content: space-between;
  row-gap: 1vh;
  overflow: hidden;
}

#meal-content{
  padding: calc(#{$abstand} / 2);
  overflow-y: scroll;
  height: 100%;
}


mat-paginator{
  position: sticky;
  width: 100%;
  bottom: -1px;
  z-index: 1;
}
