/** Variables **/
/* Color */
$bg-greyer: #bdbdbd;
$bg-grey: #c5c5c5;
$bg-bright: #e8e8e8;
$color-shadow: rgba(0, 0, 0, 0.25);
$color-i: #000;
$color: #fff;

/* Sizes */
$abstand: calc(10px + 4vw);
$nav-height: 60px;
$footer-height: 10vh;

//** Elements **//
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


//** Class **//
.test{
  border: dotted red 1px;
}

.rounded{
  border: solid 0px;
  border-radius: 5px;
}

.fixed{
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
}

.shadow{
  box-shadow: $color-shadow 0px 4px 4px;
}

.shadow-inner{
  box-shadow: inset $color-shadow 0px 4px 4px;
}

.shadow-inner-outer{
  box-shadow: inset $color-shadow 0px 1px 2px, $color-shadow 4px 2px 4px;

}

.bg{
  background-color: $bg-bright;
}

.center-child-flex{
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-child-grid{
  display: grid;
  align-items: center;
  align-content: center;
}

.text-center{
  text-align: center;
}

.w-100{
  width: 100%;
}

/***     Elements      ***/
/**   Scrollbar   **/
/* width */
::-webkit-scrollbar {
  width: 4%;
}

/* Track */
::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar
{
  width: 6px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
  background-color: #000000;
}
